body {
    font-family: 'Verdana', sans-serif;
    margin: 0; padding: 0;
    background: url(bg.png) top left repeat-x;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
    line-height: 20px;
}
a {
  color: #2a99b6;
  text-decoration: none;
}
a:hover {
  color: #33bbdf;
}
h1, h2, h3, h4, h5 {
  margin-top: 0;
}
header, footer, div.page {
  padding: 20px 30px;
}
header, footer{
  background: #2C2C2C;
  color: #999;
}
.page {
  background: url(/lama.png) bottom left no-repeat;
  background-size: 300px;
}
#page-info {
  background: #eef;
  padding: 20px;
  margin: 0 0 30px 0;
}
#page-info *:last-child {
  margin-bottom: 0;
}
#page-info *:first-child {
  margin-top: 0;
}

h1 {
  font-size: 1.4em;
  line-height: 1.4em;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0;
}
.page {
  flex-grow: 1;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
header .wrapper {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
#follow-buttons {
  flex-grow: 1;
  text-align: right;
}
#follow-buttons .twitter {
 background: #1D9BF0;
 color: white;
 padding: 5px 10px;
 border-radius: 10px;
}
@media only screen and (max-width: 415px) {
  header .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .wrapper {
    flex-direction: column;
  }
  .product {
    flex-direction: column;
    background: white;
    border: 1px solid black;
    padding: 10px;
  }
  header, footer, div.page {
    padding: 10px;
  }
} 

header .wrapper a.brand {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
}
header .wrapper span {
  font-size: 12px;
  line-height: 12px;
}
/*
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
*/
#products {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 200px;

}

.product-item {
}

.product-item h2 {
  color: #606060;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 5px 0;
}
.product-item img {
  max-width: 100%;
}
.product-item p {
  margin: 0;
  font-size: 12px;
  line-height: 17px;
  color: #333;
}
.product {
  display: flex;
  flex-flow: col;
  gap: 20px;
}
.product img {
  max-width: 433px;
  max-width: 100%;
}
.product .details {
  position: sticky;
  top: 0;
  align-self: flex-start;
}
.button {
  text-align: center;
  display: block;
  background: #faab37;
  color: #fff;
  padding: 10px 12px;
  border-radius: 3px;
  border: 1px outset #ea9b27;
}
.button:hover {
  color: inherit;
}
