{% extends "layout.html" %}
{% block title %}{{ this.title }} | My Blog{% endblock %}
{% block extra_head %}
  {% if this.has_code %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/go.min.js"></script>
  {% endif %}
{% endblock %}
{% block wrapper_classes %}narrow{% endblock %}
{% block body %}
<article class="blog-post">
  <h1 id="{{ this.title|slug }}">{{ this.title }}</h1>
  {% if 'content' in this %}
    <ul class="sections">
      <li class="l1"><a href="#{{ this.title|slug }}">{{ this.title }}</a></li>
      {% for _block in this.content.blocks %}
      <li class="l{{ _block.header_depth }}"><a href="#{{ _block.header|slug }}">{{ _block.header }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {{ this.introduction }}
  <div class="body">
    {% if 'content' in this %}
      {% for _block in this.content.blocks %}
        {{ _block }}
      {% endfor %}
    {% endif %}
  </div>
  {{ this.conclusion }}
</article>
{% if this.has_code %}<script>hljs.highlightAll();</script>{% endif %}
{% endblock %}


