{% extends "layout.html" %}
{% block title %}{{ this.title }} | My Blog{% endblock %}
{% block wrapper_classes %}narrow{% endblock %}
{% block body %}
<article class="blog-post">
  <h1 id="{{ this.title|slug }}">{{ this.title }}</h1>
  {% if 'content' in this %}
    <ul class="sections">
      <li class="l1"><a href="#{{ this.title|slug }}">{{ this.title }}</a></li>
      {% for _block in this.content.blocks %}
      <li class="l{{ _block.header_depth }}"><a href="#{{ _block.header|slug }}">{{ _block.header }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {{ this.introduction }}
  <div class="body">
    {% if 'content' in this %}
      {% for _block in this.content.blocks %}
        {{ _block }}
      {% endfor %}
    {% endif %}
  </div>
  {{ this.conclusion }}
</article>
{% endblock %}

