{% from "macros/navigation.html" import render_navigation with context %}

<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Welcome{% endblock %} — CoderLama</title>
<body>
  <header>
    <div class="wrapper narrow" style='display: flex;'>
      <a class='brand' href='/'>CoderLama</a>
      <span style='flex-grow: 1'>Physical and digital products for software developers.</span>
      <a href='/blog/'>Blog</a>
    </div>
  </header>
  <div class="page">
    <div class="wrapper {% block wrapper_classes %}{% endblock %}">
      {% block body %}{% endblock %}
    </div>
  </div>
  <footer>
    <div class="wrapper narrow">
      <div>
        <h4>Coderlama</h4>
        <ul>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/about/privacy-policy/">Privacy Policy</a></li>
          <li><a href="/about/terms-of-use/">Terms of Use</a></li>
        </ul>
      </div>
      <div>
        <h4>Categories</h4>
        <ul>
          {% for category in site.query('/products') %} 
          <li><a href="{{ category.path }}/">{{ category.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h4>Follow Us</h4>
        <a href="https://twitter.com/coderlama"><img src="{{ '/static/twitter.png'|url}}"></a>
        <!--
        <a><img src="{{ '/static/instagram.png'|url}}"></a>
        <a><img src="{{ '/static/tumblr.png'|url}}"></a>
        !-->
      </div>
    </div>
    {% include "components/masonry-script.html" %}
  </footer>
  <a id="follow-on-twitter" href="https://twitter.com/intent/follow?screen_name=coderlama">Follow on Twitter</a>

  </body>
