{% from "macros/navigation.html" import render_navigation with context %}

<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — CoderLama</title>
<body>
  <header>
    <div class="wrapper">
      <h1><a href="/">CoderLama</a></h1>
      {{ render_navigation('header') }}
    </div>
  </header>
  <div class="page">
    <div class="wrapper">
      {% block body %}{% endblock %}
    </div>
  </div>
  <footer>
    <div class="wrapper">
      {{ render_navigation('footer') }}
    </div>
  </footer>
</body>
