{% from "macros/navigation.html" import render_navigation with context %}

<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Welcome{% endblock %} — CoderLama</title>
<body>
   
  <header>
    <div class="wrapper">
      <a class='brand' href='/'>CoderLama</a>
      <span>Physical and digital products for software developers.</span>
    </div>
  </header>
  <div class="page {% block page_classes %}{% endblock %}">
    <div class="wrapper">
      {% block body %}{% endblock %}
    </div>
  </div>
  <footer>
    <div class="wrapper">
      <ul>
        <li><a href="/about/">About Us</a></li>
        <li><a href="/about/privacy-policy/">Privacy Policy</a></li>
        <li><a href="/about/terms-of-use/">Terms of Use</a></li>
      </ul>
      <ul>
        {% for category in site.query('/products') %} 
        <li><a href="{{ category.path }}/">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
      <ul>
        <li><a>Twitter</a></li>
        <li><a>Instagram</a></li>
      </ul>
    </div>
    {% include "components/masonry-script.html" %}
  </footer>
  <a id="follow-on-twitter" href="https://twitter.com/intent/follow?screen_name=coderlama">Follow on Twitter</a>

  </body>
