body {
    font-family: 'Verdana', sans-serif;
    margin: 0; padding: 0;
    background: url(bg.png) top left repeat-x;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
    line-height: 20px;
}
a {
  color: #2a99b6;
  text-decoration: none;
}
a:hover {
  color: #33bbdf;
}
h1, h2, h3, h4, h5 {
  margin-top: 0;
}
header, footer, div.page {
  padding: 20px 30px;
}
header, footer{
  background: #2C2C2C;
  color: #999;
}
#page-info {
  background: #eef;
  padding: 20px;
  margin: 0 0 30px 0;
  border-radius: 10px;
}
#page-info *:last-child {
  margin-bottom: 0;
}
#page-info *:first-child {
  margin-top: 0;
}

h1 {
  font-size: 1.4em;
  line-height: 1.4em;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0;
}
.page {
  flex-grow: 1;
}
.wrapper.narrow {
  max-width: 800px;
  margin: 0 auto;
}
header .wrapper {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
#follow-on-twitter {
 background: #1D9BF0;
 color: white;
 padding: 10px 20px;
 border-radius: 10px;
 position: fixed;
 bottom: 10px;
 right: 10px;
 border: 1px outset;
}
header .wrapper a.brand {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
}
header .wrapper span {
  font-size: 12px;
  line-height: 12px;
}

#products {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));assets
  grid-auto-rows: 200px;

}

.product-item {
}

.product-item h2 {
  color: #606060;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 5px 0;
}
.product-item img {
  max-width: 100%;
}
.product-item p {
  margin: 0;
  font-size: 12px;
  line-height: 17px;
  color: #333;
}

#product { 
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: auto auto auto 100%;
  grid-column-gap: 10px;
}
#product > * { margin: 0 0 10px 0;}
#product #title       { grid-area: 1 / 2 / 2 / 3; } 
#product #description { grid-area: 2 / 2 / 3 / 3; } 
#product #price       { grid-area: 3 / 2 / 4 / 3; } 
#product #link        { grid-area: 4 / 2 / 5 / 3; } 
#product #images      { grid-area: 1 / 1 / 5 / 2; }

#product #images img  { max-width: 100%; }


.product {
  padding: 10px;
  border: 1px dashed gray;
  display: grid;
  grid-template-columns: minmax(100px, 300px) 1fr 1fr;
  grid-template-rows: repeat(auto, 3);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "image title title"
    "image desc desc"
    "image price action";
}

.product .image  { grid-area: image; margin-right: 10px; }
.product .title  { grid-area: title; }
.product .desc   { grid-area: desc; }
.product .price  { grid-area: price; }
.product .action { grid-area: action; }

.product .image img { max-width: 100%; }
.product .title { margin: 0; }

.button {
  text-align: center;
  display: block;
  background: #faab37;
  color: #fff;
  padding: 10px 12px;
  border-radius: 3px;
  border: 1px outset #ea9b27;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.button:hover {
  color: inherit;
}
ul.sections {
  max-width:400px;
  float:right;
  background: lightcyan;
  padding: 10px 10px 10px 30px;
  margin: 0 0 10px 10px;
  border: 1px dashed gray;
}
ul.sections li.depth-1 {
  color: darkgray;
}

@media only screen and (max-width: 415px) {
  header .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .wrapper {
    flex-direction: column;
  }
  #product { 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }

  #product > * { margin: 0 0 10px 0 }

  #product #title       { grid-area: 1 / 1 / 2 / 2; } 
  #product #description { grid-area: 3 / 1 / 3 / 2; } 
  #product #price       { grid-area: 4 / 1 / 4 / 2; } 
  #product #link        { grid-area: 5 / 1 / 5 / 2; } 
  #product #images      { grid-area: 2 / 1 / 3 / 2; }

  header, footer, div.page {
    padding: 10px;
  }
} 


